@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

#iphone8-container {
  width: 397px;
}

#mceu_38 {
  display:none!important;
}